<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>

<body>
  {{> header }}
  <main>
    <div class="container">
      <h1>Contact pge</h1>
    </div>
  </main>
  {{> footer }}
</body>

</html>