<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  {{> header }}
  <main>
    {{> content }}
  </main>
  {{> footer }}
</body>
</html>