.header{
  nav{
    display: flex;
    justify-content: center;
    ul{
      list-style-type: none;
      li{
        float: left;
        a{
          display: inline-block;
          padding: 3px 12px;
          background-color: $blue;
          margin: 15px;
          color: #fff;

          &:hover{
            text-decoration: none;
            background-color: $hover-blue;
          }
        }
      }
    }
  }
}