<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Digital Zombies</h1>
        <h2>FE + BE development</h2>
      </div>
    </div>
  </div>
</section>