<footer class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="footer-top row">
        <div class="footer-contact col-12 col-md-6">
          <h2>Feel free to contact us!</h2>
          <p>The first step to a successful cooperation</p>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About us</a></li>
            <li><a href="/">Contact us</a></li>
          </ul>
        </div>
        <div class="footer-services col-12 col-md-6">
          <h2>Our services</h2>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2018-2020 Digital Zombies Kft</p>
      </div>
    </div>
  </div>
</footer>