<header class="header">
  <nav class="container">
    <div class="row">
      <div class="col-12">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">About us</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>